/* -------
  Atoms
*/

a {
  color: $link-color;
  text-decoration: none;
  outline: none !important; //ie8

  &:visited {
    color: $link-color-visited; }

  &:active {
    color: $link-color-active;
    border-bottom-color: $link-color; }

  &:hover {
    color: $link-color-hover; }
}
