/* -------
  Javascript dependency classes
*/

#LiveCSSEditor-panel * {
  text-transform: none;
  color: #555;
  background: #DDD;
  text-align: left;
  font-family: monospace;
  font-size: 11px;
}

.js-activeBuilding img {
  width: 27.5%;
  // height: 400px;
  img { z-index: 999; }
}
.js-inactiveBuilding img {
  width: 15%;
  // height: 200px;
}
.current {
  width: 25%;
  margin: 20px 5% 0px;
}
.notCurrent {
  width: 12.5%;
}
.js-highlighted-tip {
  opacity: 1;
}
.js-hidden-tip {
  opacity: 0.2;
}
