/* ------
  Organisms
*/

.app {
  &__header {
    // @include m-v(0em,1em);
    // @include p-v(1em,0em);
  }

  &__content {
    @include m-h(auto,auto);
    @include p-h(10px,10px);
    @include break(medium) { @include p-h(20px,20px); }
    @include break(large) { @include p-h(40px,40px); }
    @include break(extralarge) { @include p-h(40px,40px); width: 80%; }
  }

  &__footer {
    @include m-v(1em,0em);
    @include p-v(0em,1em);
    font-size: 0.6em; line-height: 1.4em;
    &, & * { color: lighten($brand-dark,15%) }
  }
}

.index {
  &__title {
    text-align: center;
    padding: 2em;
    overflow: hidden;
    svg { width: 100%; }
    @include break(medium) { svg { width: 60%; } }
    @include break(extralarge) { svg { width: 50%; } }
  }

  &__summary {
    padding: 2em;
    overflow: hidden;
    font-size: 0.8em;

    h3 + h3 { margin-top: 0.5em; }
  }
}

.building__nav {
  font-size: 0em;
  line-height: 0;

  &__item {
    font-size: initial;
    line-height: initial;
    display: inline-block;
    margin: 0; padding: 0;
    width: 50%;
    height: 200px;
    border: 1px solid rgba(white,0.3);
  }
}

.buildings-nav {
  // ...
  &--min {
    // ...@
  }
}

.blueprint {
  $align: #{"middle"};

  @include break(medium) {
    vertical-align: $align;
    display: table;
  }

  &__header {
    text-align: center;
    svg { width: 500px; }
  }

  &__diagram {
    @extend .box;

    @include break(medium) {
      display: table-cell;
      padding: 10px;
      vertical-align: $align;
      width: 60%;
    }

    img { @extend .w100; max-width: 100%; }
  }
  &__tips {
    @include break(medium) {
      display: table-cell;
      padding: 10px;
      vertical-align: $align;
      width: 40%;
    }
  }
}

.tips {
  &__item {
    @extend %header-type;

    list-style: none;
    width: 100%;
    margin-top: 0.5em;

    & + & {
                               margin-top: 0.5em;
      @include break(medium) { margin-top: 1em; }
    }

    &__counter {
      @include center-circle(2em);

      > div {
        background: lighten($brand-dark,20%);
        border: 2px solid $brand-beige;
      }
      &.complete > div {
        color: $brand-dark;
        background: $good;
      }
      &.incomplete > div {
        color: $brand-dark;
        background: $bad;
        border: 2px solid $brand-beige;
      }
    }

    &__name{
      vertical-align: middle;
      display: inline-block;
      width: 80%;
      // margin-top: ($size * 0.25);
      margin-left: 0.2em;
      font-size: $size;

      color: $brand-lblue;
    }
  }
}

%panel-segment {
  padding: 0.5em 1.5em;
}
%generous-segment {
  padding: 0.5em;
}

.tip-panel {
  background: white;
  border-radius: 6px;
  &__index {
    @include center-circle(1.9em);
    @extend %header-type;
    position: absolute;
    top: -25px;
    left: -25px;
    > div {
      background: white;
      color: darken($good,5%);
      border: 3px solid $good;
    }
  }

  &__name {
    @extend %generous-segment;

    font-size: 2.5em;
    color: $brand-dark;
    background: $good;
    text-align: middle;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    line-height: 0.75em;
  }
  &__section-heading {
    @extend %panel-segment;
    background: $brand-blue;
    color: white;
    font-size: 1.5em;
  }
  &__section-content {
    @extend %panel-segment;
    color: #7b93ab;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;

    b { color: #4d8282; }
  }
  &__nav {
    @extend %generous-segment;
    @extend %header-type;

    color: #c46857;
    font-size: 1.5em;
    text-align: center;
    border-top: 1px solid #DADADA;
    margin: 1em;
    margin-top: 4px;
  }
}
