/* ------
  Skeleton
*/

html, body {
  background-color: $background-color;
  color: $text-color;
}

* {
  transition: all 0.25s cubic-bezier(.54,.27,.27,.91);
  box-sizing: border-box;
}

::selection {
  color: $background-color;
  background: $brand-color;
}

.content {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 1em;
}
