.blueprint {
  $align: #{"middle"};
  vertical-align: $align;
  display: table;

  &__diagram {
    @extend .box;
    display: table-cell;
    padding: 10px;
    vertical-align: $align;
    width: 60%;

    img { @extend .w100; max-width: 100%; }
  }
  &__tips {
    display: table-cell;
    padding: 10px;
    vertical-align: $align;
    width: 40%;
  }
}