<nav class='buildings-nav--min'>
  <img src="public/images/nav-min.png" class="w100">
  <a ui-sref="index">All buildings</a>
  <br>
  <a ng-repeat='blueprint in Data.blueprints' ui-sref="blueprint({'blueprintSlug': blueprint.slug })">{{blueprint.name}}</a>
</nav>
<article class="app__content" ui-view>

  <header class="blueprint__header v-p-gap">
    <span ng-include="'public/images/blueprint_heading.svg'"></span>
  </header>

  <div class="blueprint">
    <figure class="blueprint__diagram">
      <img class="w100" ng-src='public/images/blueprint_{{blueprint.slug}}.svg' />
      <img class="w100"
        ng-repeat='tip in blueprint.tips'
        onerror='this.style.display = "none"'
        ng-src='public/images/blueprint_overlay-{{tip.id}}.svg' />
    </figure>

    <section class="blueprint__tips" ui-view='tips'>
      <ol class="tips box">
        <li ng-repeat='tip in blueprint.tips track by $index' class="tips__item" ng-class='{"complete": tip.status === 2, "incomplete": tip.status === 0, "active": tip.status === 1}'>
          <div class="tips__item__counter"><div><i>{{$index+1}}</i></div></div>
          <a ui-sref='blueprint.tip({ "tipSlug": tip.id })' class="tips__item__name">{{tip.title}}</a>
          <div class="clearfix"></div>
        </li>
      </ol>
    </section>
  </div>

</article>
