
  <div class="table blueprint">
    <div class='tr'>
      <section class='td blueprint__diagram'>

        <!-- Diagram base -->
        <img class="w100 blueprint__diagram__base"
          ng-src='public/images/blueprint_blueprint-{{blueprint.slug}}.png'
          ng-class='{"js-displaying-tip": isSetTip() && TipImage.checkImage(blueprint.slug,TipImage.getTip())}' />

        <!-- Diagram overlays -->
        <img class="w100 blueprint__diagram__overlay"
          alt='.'
          ng-repeat='tip in blueprint.tips'
          onerror='this.style.display = "none"'
          ng-error='TipImage.noImage(blueprint.slug,tip.id)'
          ng-src='public/images/blueprint_overlay-{{blueprint.slug}}-{{tip.id}}.png'
          id='tip-{{tip.id}}'
          ng-class='{"js-hidden-tip": ifNotTip(tip.id) && isSetTip(), "js-highlighted-tip": ifIsTip(tip.id)}' />

      </section>

      <aside class='td'>
        <section class="blueprint__tips" ui-view='tips'>
          <ol class="tips box">
            <li ng-repeat='tip in blueprint.tips track by $index' class="tips__item" ng-class='{"complete": tip.status === 2, "incomplete": tip.status === 0, "active": tip.status === 1}'>
              <a ui-sref='main.blueprint.tip({ "tipSlug": tip.id })'>
                <div class="tips__item__counter"><div><i>{{$index+1}}</i></div></div>
                <span class="tips__item__name">{{tip.title}}</span>
                <div class="clearfix"></div>
              </a>
            </li>
          </ol>
        </section>
      </aside>
    </div>
  </div>
